.headerMainContainer {
  font-family: var(--font-family-Inter);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
}

.headerContainer {
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: 40px;
}

.logoContainer select {
  border: 1px solid var(--color-mainText);
}

.navContainer ul,
li {
  display: flex;
  gap: 40px;
  color: var(--color-header-text);
  font-weight: 500;
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonContainer span {
  color: var(--color-header-link);
  font-weight: 600;
  font-size: 14px;
}

.buttonContainer .createAccount {
  border-style: none;
  border-radius: 34px;
  height: 56px;
  background-color: var(--color-header-buttonBG);
  color: var(--color-mainText);
  font-size: 14px;
  padding: 16px 27px;
  font-weight: 600;
}
